# RStudio / R
.Rproj.user
.Rhistory
.Rdata
.Rcheck/
*.tar.gz

# Vector data
*.gpkg

# Static driver config file
*.yml

# Private notes
*.html

# Testing script
scripts/testing.R

# Allow example datasets
!inst/extdata/
