# RStudio / R
.Rproj.user
.Rhistory
.Rdata
.Rcheck/
*.tar.gz

# Raster data
*.tif
*.rds

# Vector data
*.gpkg

# Private notes
*.html

# Testing script
R/testing.R

# Allow small test data
!inst/extdata/*.gpkg
